<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="plusBean"
          class="com.cursor.spring.xmlmethod.PlusService">
    </bean>

    <bean id="minusBean"
          class="com.cursor.spring.xmlmethod.MinusService">
    </bean>

    <bean id="calculatorPlus"
          class="com.cursor.spring.xmlmethod.Calculator">
        <constructor-arg ref="plusBean"/>
    </bean>

    <bean id="calculatorMinus"
          class="com.cursor.spring.xmlmethod.Calculator">
        <property name="service" ref="minusBean"/>
    </bean>

</beans>